<header class="menu-bar__container">
	<div class="menu-bar__logo">
			<a href="index.html">
					<img
							src="assets/ps-logo.png"
							alt="PlayStation logo"
							width="140"
							height="32"
					>
			</a>
	</div>
	<nav class="menu-bar__item">
			<ul>
					<li><a href="https://www.youtube.com/bfrpaulondev" target="_blank" rel="noopener noreferrer">YouTube</a></li>
					<li><a href="https://www.linkedin.com/bfrpaulondev" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
					<li><a href="https://github.com/bfrpaulondev" target="_blank" rel="noopener noreferrer">GitHub</a></li>
			</ul>
	</nav>
</header>
